@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2"), url("../fonts/robotobold.woff");
  font-weight: bold;
}

